@use "../../styles/base/variables.scss" as *;

.tweets {
  display: flex;
  width: 100%;
  padding: 10px 15px;
  gap: 10px;
  border-bottom: 1px solid $border-color;
  justify-content: space-between;

  &_block {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    width: 100%;

    &_img {
      border-radius: 40px;
      min-width: 40px;
      height: 40px;
      overflow: hidden;

      &_src {
        width: 40px;
        height: 40px;
      }
    }

    &_main {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: fit-content;
      &_info {
        display: flex;
        gap: 5px;
        align-items: center;

        &_username {
          font-weight: 700;
          font-size: 15px;
          color: #fff;
        }
        &_date {
          font-weight: 400;
          font-size: 12px;
          color: $gray;
        }
      }

      &_text {
        font-weight: 400;
        font-size: 12px;
        color: #fff;
      }

      &_updated {
        margin-top: 10px;
        font-size: 12px;
        color: $gray;
      }
    }
  }

  &_button {
    cursor: pointer;
    background-color: transparent;
    border: none;

    &_icon {
      fill: #fff;
      @include setTr(fill);

      &:hover,
      &:focus {
        fill: $blue;
      }
    }
  }
}

.home_main_page_scroll {
  width: 100%;
  height: calc(100% - 52px);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray;
    border-radius: 4px;
    @include setTr(background-color);

    &:hover {
      background-color: $blue;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: $border-color;
    border-radius: 4px;
  }
}

.home_main_page_tweets {
  width: 100%;

  &_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
