@use "../../styles/base/variables.scss" as *;

.home-side {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $back-hov;
  width: 100%;
  height: 100%;

  &-close-button {
    background-color: transparent;
    border: none;
    width: fit-content;
    cursor: pointer;

    &-icon {
      fill: #fff;
      @include setTr(fill);

      &:hover,
      &:focus {
        fill: $blue;
      }
    }
  }
}

.home_main_side {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 14px 30px 14px 30px;
  width: 100%;
  max-width: 375px;
  gap: 23px;

  &_search {
    width: 100%;
    position: relative;
    &_field {
      padding: 11px;
      background-color: $backround-color;
      border-radius: 40px;
      display: flex;
      align-items: center;
      gap: 11px;

      &_icon {
        fill: gray;
      }
      &_input {
        font-weight: 400;
        font-size: 15px;
        color: #fff;
        outline: none;
        border: 1px solid transparent;
        background-color: transparent;
        width: 100%;

        &::placeholder {
          color: $gray;
        }
      }
    }

    &_results {
      position: absolute;
      top: 65px;
      background-color: #000;
      border-radius: 15px;
      width: 100%;
      border: 1px solid $border-color;
      box-shadow: 0 0 15px $gray;
      overflow: hidden;

      &_item {
        &:hover {
          background-color: $back-hov;
        }

        &_link {
          width: 100%;
          display: flex;
          padding: 15px;
          gap: 10px;
          align-items: center;

          &_img {
            width: 40px;
            height: 40px;
            border-radius: 20px;
          }
          &_username {
            font-weight: 700;
            font-size: 15px;
            color: #fff;
          }
        }
      }

      &_mes {
        display: block;
        text-align: center;
        padding: 20px 0;
        color: $gray;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }

  &_profiles {
    width: 100%;
    height: calc(100% - 111px);
    max-height: 335px;
    border-radius: 14px;
    background-color: $backround-color;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;

    &_title {
      font-weight: 700;
      font-size: 19px;
      color: $gray;
    }
    &_list {
      display: flex;
      flex-direction: column;
      overflow: auto;
      width: 100%;
      gap: 3px;
      max-height: 265px;
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray;
        border-radius: 4px;
        @include setTr(background-color);

        &:hover {
          background-color: $blue;
        }
      }

      &::-webkit-scrollbar-track {
        background-color: $border-color;
        border-radius: 4px;
      }

      .users {
        width: 100%;
        display: flex;
        padding: 10px 5px 10px 0;
        align-items: center;
        border-bottom: 1px solid $border-color;
        justify-content: space-between;
        cursor: pointer;

        &_main {
          display: flex;
          gap: 10px;
          align-items: center;

          &_photo {
            width: 40px;
            height: 40px;
            border-radius: 20px;
          }
          &_info {
            &_username {
              font-weight: 700;
              font-size: 15px;
              color: #fff;
            }
            &_email {
              font-weight: 400;
              font-size: 13px;
              color: $gray;
            }
          }
        }

        &_follow {
          padding: 7px 14px;
          color: #fff;
          font-weight: 700;
          font-size: 15px;
          border-radius: 15px;
          border: none;
          background-color: $blue;
          cursor: pointer;
          @include setTr(background-color);

          &:hover,
          &:focus {
            background-color: $blue-hov;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1122px) {
  .home-side {
    position: static;
    width: fit-content;

    &-close-button {
      display: none;
    }
  }
  .home_main_side {
    padding: 14px 0 14px 30px;
    width: 380px;
  }
}
