@use "../../styles/base/variables.scss" as *;

.auth-main {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &_icon {
    fill: white;
  }

  &_content {
    display: flex;
    flex-direction: column;

    &_title {
      color: #fff;
      font-size: 64px;
      margin-bottom: 40px;
    }

    &_subtitle {
      color: #fff;
      font-size: 31px;
    }

    &_buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
      width: 300px;
      margin-top: 32px;

      &_login {
        width: 100%;
        background-color: #fff;
        padding: 10px 0;
        border-radius: 20px;
        outline: none;
        border: none;
        @include setTr(background-color);
        font-weight: 700;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: $white-hov;
        }
      }

      &_label {
        color: $gray;
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;

        &::after {
          content: "";
          height: 0.5px;
          left: 0;
          position: absolute;
          width: 45%;
          bottom: 50%;
          background-color: #8899a683;
        }

        &::before {
          content: "";
          height: 0.5px;
          right: 0;
          position: absolute;
          width: 45%;
          bottom: 50%;
          background-color: #8899a683;
        }
      }

      &_signup {
        width: 100%;
        padding: 10px 0;
        background-color: $blue;
        border-radius: 20px;
        outline: none;
        border: none;
        @include setTr(background-color);
        font-weight: 700;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #fff;

        &:hover {
          background-color: $blue-hov;
        }
      }
    }
  }

  .login {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8899a64c;

    .login-container {
      background-color: #000;
      width: fit-content;
      display: flex;
      flex-direction: column;
      width: 600px;
      border-radius: 20px;
      padding-bottom: 60px;

      &_header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        &_logo {
          fill: #fff;
        }

        .login-close-button {
          background-color: transparent;
          border: none;
          width: fit-content;
          cursor: pointer;

          &_icon {
            fill: #fff;
            @include setTr(fill);

            &:hover {
              fill: $blue;
            }
          }
        }
      }

      &_content {
        width: 300px;
        margin: 0 auto;
        &_title {
          color: #fff;
          font-size: 30px;
          margin-bottom: 20px;
        }

        &_form {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 30px;
          &_input {
            background-color: transparent;
            outline: none;
            border: 1px solid $gray;
            padding: 10px 15px;
            font-size: 16px;
            border-radius: 5px;
            color: #fff;
            @include setTr(border-color);

            &:hover,
            &:focus {
              border-color: #fff;
            }
          }
          .field-err {
            color: red;
          }

          &_button {
            width: 100%;
            background-color: #fff;
            padding: 10px 0;
            border-radius: 20px;
            outline: none;
            border: none;
            @include setTr(background-color);
            font-weight: 700;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
              background-color: $white-hov;
            }
          }
        }

        &_forgot {
          width: 100%;
          background-color: transparent;
          color: #fff;
          padding: 10px 0;
          border-radius: 20px;
          outline: none;
          border: 1px solid #fff;
          @include setTr(background-color);
          font-weight: 700;
          font-size: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-bottom: 40px;

          &:hover,
          &:active {
            background-color: #ffffff2a;
          }
        }

        &_signup {
          color: #fff;
          .login-transit-button {
            background-color: transparent;
            color: $blue;
            font-size: 15px;
            border: none;
            cursor: pointer;
            @include setTr(color);

            &:hover,
            &:focus {
              color: $blue-hov;
            }
          }
        }
      }
    }
  }

  .signup {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8899a64c;

    .signup-container {
      background-color: #000;
      width: fit-content;
      display: flex;
      flex-direction: column;
      width: 600px;
      border-radius: 20px;
      padding-bottom: 60px;

      &_header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        &_logo {
          fill: #fff;
        }

        .signup-close-button {
          background-color: transparent;
          border: none;
          width: fit-content;
          cursor: pointer;

          &_icon {
            fill: #fff;
            @include setTr(fill);

            &:hover {
              fill: $blue;
            }
          }
        }
      }

      &_content {
        width: 300px;
        margin: 0 auto;
        &_title {
          color: #fff;
          font-size: 30px;
          margin-bottom: 20px;
        }

        &_form {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 30px;
          &_input {
            background-color: transparent;
            outline: none;
            border: 1px solid $gray;
            padding: 10px 15px;
            font-size: 16px;
            border-radius: 5px;
            color: #fff;
            @include setTr(border-color);

            &:hover,
            &:focus {
              border-color: #fff;
            }
          }
          .field-err {
            color: red;
          }

          &_button {
            width: 100%;
            background-color: #fff;
            padding: 10px 0;
            border-radius: 20px;
            outline: none;
            border: none;
            @include setTr(background-color);
            font-weight: 700;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
              background-color: $white-hov;
            }
          }
        }

        &_forgot {
          width: 100%;
          background-color: transparent;
          color: #fff;
          padding: 10px 0;
          border-radius: 20px;
          outline: none;
          border: 1px solid #fff;
          @include setTr(background-color);
          font-weight: 700;
          font-size: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-bottom: 40px;

          &:hover,
          &:active {
            background-color: #ffffff2a;
          }
        }

        &_login {
          color: #fff;
          .signup-transit-button {
            background-color: transparent;
            color: $blue;
            font-size: 15px;
            border: none;
            cursor: pointer;
            @include setTr(color);

            &:hover,
            &:focus {
              color: $blue-hov;
            }
          }
        }
      }
    }
  }
}
